body {
  margin: 0;
}

.top-header {
  display: inline-block;
  padding-top: 30px;
  width: 15%;
}

.top-nav {
  float: right;
  margin-right: 5%;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 30px;

}

.title {
  margin: 0;
}

.title-1 {
  color: #00136c;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}

.box-1 {
  background-color: #ff8000;
  display: inline-block;
  height: 5px;
  width: 50px;
}

.box-2 {
  background-color: #ff8000;
  display: inline-block;
  height: 10px;
  width: 50px;
}

.box-3 {
  background-color: #ff8000;
  display: inline-block;
  height: 15px;
  width: 50px;
}

.box-4 {
  background-color: #ff8000;
  display: inline-block;
  height: 20px;
  width: 50px;
}

p {
  text-align: center;
  width: 100%;
}

/*------site-navigation------*/
ul {
  background-color: white;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  float: left;
  margin-right: 20px;
}

li a {
  color: black;
  display: block;
  font-size: 1.3rem;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #ff8f56;
}

/*-------End-nav--------*/
.parallax {
  background-attachment: fixed;
  background-image: url("enlev.github.io/bera/Images-BC/bricks-hd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
